.viewer {
    :global {
        .ant-table-cell {
            height: 65px;
        }

        .ant-form-item-explain {
            margin-bottom: -24px;
        }

        .ant-form-item {
            margin-bottom: 0px;
        }
    }
}

.footer {
    display: flex;
    justify-content: flex-start;
}

.title {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.space>* {
    margin-bottom: 8px;
}

.norecipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .strong {
        font-size: 16px;
        color: #262626;
    }
    color: #8C8C8C;
    font-size: 14px;
    line-height: 24px;
}
