.root {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;

  .diagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .label {
      line-height: 20px;
      width: 120px;
      margin-top: 12px;
      text-align: center;
      font-weight: 500;
    }

    :global(.ant-progress-text) {
      font-weight: 500;
      font-size: 16px;
      color: inherit;
    }
  }
}
