.badge {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 118.95px;
  height: 88.04px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 18px;

  .head {
    margin-bottom: 6px;

    display: flex;
    align-items: flex-start;

    .subvalue {
      color: #8C8C8C;
    }
    .rise {
      fill: #54DA33;
    }
    .fail {
      fill: #F5222D;
    }
  }
}

.actable {
  background-color: #EEFBFB;
  transition: all 0.6s;
  cursor: pointer;
}

.actable:hover {
  background-color: #E0F8F8;
}
