.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
    margin-top: -31px;

  >:first-child {
    margin-bottom: 8px;
  }
}

.calendar {
  :global .ant-modal-content {
    min-width: 800px;
  }
}
