.cardHeader {
    .headerActions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;;
    }

    .search {
        width: 256px;
    }
}

.collapse {
    .header {
        width: 100%;
        display: grid;
        position: sticky;
        top: -30px;
        background-color: white;
        z-index: 1;
        cursor: pointer;

        &:hover {
            background-color: #fafafa;
        }
    }

    .content {
        background-color: #fafafa;

        .row {
            width: 100%;
            display: grid;
        }
    }
}

.table {
    margin-top: 20px;
    border-top: 1px solid #e8e8e8;
}
