{
  "extends": [
    "airbnb",
    "react-app"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": [ 1, { "extensions": [ ".js", ".jsx" ] } ],
    "react/prop-types": "off",
    "jsx-a11y/media-has-caption": "off",
    "no-console": ["warn", { "allow": ["warn", "error", "assert"] }],
    "react/state-in-constructor": "off",
    "max-len": ["error", { "code": 165 }],
    "no-restricted-syntax": [
      "error",
      "ForInStatement",
      "LabeledStatement",
      "WithStatement"
    ],
    "class-methods-use-this": "off"
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "env": {
      "browser": true,
      "node": true
  }
}
