.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid #e8e8e8;
}

.container:hover {
    background-color: rgba(200, 200, 200, 0.1);
}
