@import 'src/themes/constants';

.menu {
  margin-top: $generic-margin;
  border-top-right-radius: $border-radius-base;
  padding-top: 37px;
  overflow-y: auto;
  overflow-x: hidden;
  direction:rtl;

  >li {
    * {
      direction:ltr;
    }
    direction:ltr;
  }

  // Disable jumping effect while menu toggling
  :global(.ant-menu-item),
  :global(.ant-menu-item .anticon),
  :global(.ant-menu-item .anticon svg) {
    transition: none;
  }
}

$icon-size: 34px;

:global .ant-menu-vertical.ant-menu-root {
  width: $small-menu-width;
  padding-top: 0px;

  > .ant-menu-item, .ant-menu-submenu-vertical > .ant-menu-submenu-title {
    height: $small-menu-width - 8px;
  }

  .anticon {
    font-size: 34px;
    margin-left: $small-menu-width / 2 - $icon-size / 2 - 16px;
    margin-top: $small-menu-width / 2 - $icon-size / 2 - 4px;
  }

  .ant-menu-submenu-arrow {
    display: none;
  }
}
