@import 'src/themes/constants';

$icon-size: 34px;

.menu {
  margin-top: $generic-margin;
  border-top-right-radius: $border-radius-base;
  padding-top: 37px;
  overflow-y: auto;
  overflow-x: hidden;
  direction:rtl;

  >li {
    * {
      direction:ltr;
    }
    direction:ltr;
  }

  // Disable jumping effect while menu toggling
  :global(.ant-menu-item),
  :global(.ant-menu-item .anticon),
  :global(.ant-menu-item .anticon svg) {
    transition: none;
  }

  @include mobile {
    top: 56px;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: calc(100vh - 56px);
    overflow: auto;
    padding: 12px 0;
    margin: 0;
  }

}

.vertical {
  width: $small-menu-width;
  padding-top: 0px;

  > :global(.ant-menu-item), :global(.ant-menu-submenu-vertical) > :global(.ant-menu-submenu-title) {
    height: $small-menu-width - 8px;
  }

  :global(.anticon) {
    font-size: 34px;
    margin-left: $small-menu-width / 2 - $icon-size / 2 - 16px;
    margin-top: $small-menu-width / 2 - $icon-size / 2 - 4px;
  }

  :global(.ant-menu-submenu-arrow) {
    display: none;
  }

  :global(.ant-menu-submenu-title) {
    text-overflow: clip;
  }

  @include mobile {
    display: none;
  }
}
