@import 'src/themes/constants';

.whole {
  display: flex;
  flex-direction: column;
  max-height: 100%;

  > div.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

    :global .ant-input-affix-wrapper {
      max-width: 256px;
    }
  }

  .nodatatext {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .strong {
      font-size: 16px;
      color: #262626;
    }
    color: #8C8C8C;
    font-size: 14px;
    line-height: 24px;
  }

  .row {
    display: flex;
    .actions>* {
      opacity: 0;
    }

    &:hover {
      .actions>* {
        opacity: 1;
      }
      background-color: #fafafa;
    }

    .virtual-table-cell {
      box-sizing: border-box;
      padding: 16px;
      border-bottom: 1px solid #e8e8e8;
      transition: background-color 1s linear;
    }

    .lastcolumn {
      padding-right: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      display: flex;
      align-items: center;
    }
  }

  .highlightnew {
    background-color: #fffffa;
  }

  .loader {
    width: 100%;
    height: 300px;
  }

  table {
    table-layout: fixed;
    th.sortable {
      cursor: pointer;

      &:hover {
        background-color: #f0f0f0;
      }
      &>div {
        user-select: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }
}
