@import 'src/themes/constants';

.whole {
  display: flex;
  flex-direction: column;
  max-height: 100%;

  > div.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

    :global .ant-input-affix-wrapper {
      max-width: 256px;
    }
  }

  .row {
    display: flex;
    .actions>* {
      opacity: 0;
    }
    transition: background 0.3s;

    &:hover {
      .actions>* {
        opacity: 1;
      }
      background-color: #fafafa;
    }

    &.selected {
      background: #edf8fc;
      border-color: rgba(0, 0, 0, 0.03);

      &:hover {
        background: #e4f5fb;
      }
    }

    .virtual-table-cell {
      box-sizing: border-box;
      padding: 16px;
      border-bottom: 1px solid #e8e8e8;
      transition: background-color 1s linear;
    }

    .lastcolumn {
      padding-right: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      display: flex;
      align-items: center;

      >:first-child {
        margin-left: -5px;
        margin-right: 5px;
      }
    }
  }

  .highlightnew {
    background-color: #fffffa;
  }

  .loader {
    width: 100%;
    height: 300px;
  }

  .collapseicon {
    transition: transform 0.24s;
  }

  table {
    table-layout: fixed;
    th.sortable {
      cursor: pointer;

      &:hover {
        background-color: #f0f0f0;
      }
      &>div {
        user-select: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }
}
