.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  .svg {
    width: 187px;
    height: 132px;
  }
}

.header {
  margin-bottom: 24px;
  text-align: center;

  .value {
    font-size: 42px;
    min-height: 50px;
    color: black;
  }
}
