.growth {
    font-size: 16px;
    font-weight: 600;
    display: flex;

    .rise,
    .fail {
        transform: scaleX(0.7);
    }
    .rise {
        fill: #54da33;
    }
    .fail {
        fill: #f5222d;
    }
}
