@import 'src/themes/constants';

.root {
  display: grid;
  column-gap: $generic-margin;
  row-gap: $generic-margin;
  grid-template-columns: 676fr 440fr;
  height: 100%;

  min-height: 1000px;
  overflow: hidden;

  .table {
    grid-column-end: span 2;
    overflow-x: hidden;
    min-height: 0px;
    &>div {
      height: 100%;
    }
    margin-bottom: $generic-margin;
  }
}

.details {
  padding-left: 16px;
  background-color: #FBFBFB;
  padding-bottom: 10px;
  :global(.ant-table-wrapper) {
    padding-bottom: 10px;
  }
  .detailschild>td {
    :global .ant-table-wrapper:only-child .ant-table {
      margin-left: 0px;
    }
  }
}
