.whole {
  overflow-y: auto;
  max-height: 486px;
  .title {
    h4 {
      font-size: 12px;
      font-weight: 400;
    }
    border-bottom: 1px solid #D9D9D9;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;

    &:hover>div {
      background-color: white;
    }

    >div {
      height: 61px;
      width: 150px;
      padding: 8px 15px;
      background-color: #FAFAFA;
      border-radius: 8px;
      transition: all 0.2s linear;

      .caption {
        color: #8c8c8c;
      }
    }
  }

  .top>div:last-child {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .row {
      margin-right: 5px;
    }

    >div {
      display: flex;
      flex-direction: column;

      .name {
        padding: 5px 0px;

        ::first-letter {
          color: #BFBFBF;
        }
      }
    }
  }
}
