.head {
    .goback {
        font-size: 14px;
        color: #8C8C8C;
        line-height: 22px;
    }
    .titleRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;

        h1 {
            font-size: 30px;
            line-height: 38px;
            font-weight: bold;
            margin-bottom: 0;
        }
    }
}

.submenu {
    :global .ant-menu-light {
        background-color: transparent;
        margin-bottom: 24px;
    }
}
