@import 'src/themes/constants';

.items {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;

  height: 100%;

  >* {
    line-height: 24px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    margin: 1.5px;
    color: white;
    font-size: 12px;
  }
}

.head {
  display: flex;
  align-items: center;

  .month {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .monthtext {
      min-width: 225px;
      text-align: center;
      text-transform: capitalize;
      color: $link-color;
      font-weight: 600;
    }
  }
}
