.root>div {
    .title {
      width: 100px;
      font-weight: 600;
      font-size: 16px;
    }
}

@media screen and (max-width: 1000px) {
  .root>div {
    .chart {
      margin: 0px -25px;
    }
  }
}
