.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 260px;
  transition: background-color 0.3s cubic-bezier(0, 2.13, 1, -1.11);
}

.inputs {
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  align-items: center;
}

.input + .input {
  margin-left: 8px;
}

.warn {
  background-color: salmon;
}

.success {
  background-color: chartreuse;
}
