@import 'src/themes/constants';

.root {
  .card {
    margin-bottom: $generic-margin;
    .title {
      display: flex;
      align-items: center;
      height: 22px;
      margin-bottom: 20px;
      .titletext {
        margin-right: 15px;
      }
    }
  }

  .filter {
    max-width: 256px;
    margin-bottom: 12px;
  }

  .sync {
    color: red;
  }
  .sync.synced {
    color: green;
  }
}
