@import 'src/themes/constants';

.color {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0px 5px -7px 0px;
}

.clock {

  margin-top: -20px;
  padding-top: 15px;
  margin-bottom: -20px;
  >div {
    border-radius: 14px;
    width: 167px;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    background: #F3F5F7;
    white-space: nowrap;

    .clockicon {
      margin: 1px 6px -1px 6px;
      fill: $link-color
    }
  }
}
