@import 'src/themes/constants';

.main {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: $menu-width auto;
    grid-template-rows: ($header-height + $generic-margin) auto;

    .header {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    content {
        transition: all $transition-duration;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0 $generic-margin;
        display: flex;
        flex-direction: column;
    };
}

.smallMenu.main {
    grid-template-columns: $small-menu-withd auto;
    grid-template-rows: ($header-height + $generic-margin) auto;
}
