@import 'src/themes/constants';

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    .title {
        line-height: $header-height;
        margin: 0px;
        font-size: 20px;
        font-weight: 600;
    }

    .menuButton {
        font-size: $generic-icon-size;
        cursor: pointer;
        user-select: none;
        fill: $link-color;
        margin-left: $generic-margin;
        margin-right: -($generic-margin + $generic-icon-size);
    }

    .settings {
        margin-right: $generic-margin;
        margin-left: -114.5px;
        display: flex;
        align-items: center;

        .gear {
            font-size: $generic-icon-size;
            margin-right: 8px;
            margin-left: 8px;
        }
        cursor: pointer;
    }
}
